.album-select {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.album-select button {
  margin: 15px;
}

.images-container {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
}

.image-container {
  padding: 5px;
  border: 1px solid #6e6e6e;
  border-radius: 3px;
  margin: 2px;
  display: flex;
  flex-flow: column;
}

.cover-photo {
  border-color: #ff362e;
  border-width: 2px;
  margin: 1px;
}

.album-image {
  cursor: pointer;
}

.container {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.album-forms-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-bottom: #6e6e6e 2px solid;
}

.album-form-container {
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50vw;
  max-width: 500px;
}

td, th {
  text-align: center !important;
}

.buttons-container {
  margin-top: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.buttons-container .btn-danger, .btn-warning {
  width: 100px;
  margin-right: 25px;
}

.fa-toggle-off, .fa-toggle-on {
  transition: .5s;
  cursor: pointer;
}

.toggler {
  position: fixed;
  left: 20px;
  top: 50vh;
  display: flex;
  flex-flow: column;
}

.default-container {
  margin-left: 100px !important;
}

.instagram-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#instagram-container {
  width: 935px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.grid-image {
  width: 293px;
  height: 293px;
  object-fit: cover;
  margin-bottom: 28px;
}

.hidden {
  display: none;
}
.image{
  margin-top: auto;
  margin-bottom: auto;
}