.profile-info-container{
  padding: 20px;
}
.landing-page-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.landing-page-mockup{
max-width: 40vw;
}
.profile-picture-mockup{
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 100%;
}
.profile-landing-container{
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  section{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 45vw;
  }
}
.sixteen-nine {
  @include aspect-ratio(16, 9);
}