@import "root";
@import "sign";
@import "album";
@import "forms";
@import "profile";

.nav-link{
  font-size: 24px;
  font-weight: bold;
}
.nav-item{
  margin-right: 20px;
}
.title-container{
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: center;
  margin-bottom: 15px;
}