{extends "../@layout.latte"}
{block content}
    <div class="title-container">
        <h1>Albums</h1>
    </div>
    <div class="album-select">
        <a href="albums/new"><button class="btn btn-success">New Album</button></a>
        <a href="albums/all"><button class="btn btn-success">Edit existing albums</button></a>
    </div>
{/block}