<!DOCTYPE html>
<html lang="en-en">

<head>
    <base href="/GarethJorden"/>
    <meta charset="UTF-8"/>
    <title>
        Template
    </title>
    <meta name="page_description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../www/styles/style.css?v={time()}" type="text/css"/>
    <link rel="icon" href="../../www/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <script src="../node_modules/axios/dist/axios.js?v={time()}" defer></script>
    <script src="../node_modules/nette-forms/src/assets/netteForms.min.js?v={time()}" defer></script>
    <script src="../../www/scripts/script.js?v={time()}" async></script>
    {block scripts}{/block}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="landing-page" style="text-align: center">Landing page <br>& profile picture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="profile-info">Profile info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="albums">Albums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="images">Images</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="sign/out">Signout</a>
            </li>
        </ul>
    </div>
</nav>
{include content}
</body>

</html>